{% load forms %}
{% datepicker  field="OperationNote.date"  %}
{% checkbox  field="OperationNote.dvt_heparin"  %}
{% checkbox  field="OperationNote.dvt_ted_stockings"  %}
{% checkbox  field="OperationNote.dvt_pnematic"  %}
{% checkbox  field="OperationNote.dvt_aspirin"  %}
{% input  field="OperationNote.antibiotics"  %}
{% input  field="OperationNote.indication"  %}
{% input  field="OperationNote.position"  %}
{% input  field="OperationNote.incision"  %}
{% textarea  field="OperationNote.findings"  %}
{% textarea  field="OperationNote.procedure"  %}
{% input  field="OperationNote.cancer"  %}
{% input  field="OperationNote.lead_surgeon"  %}
{% input  field="OperationNote.lead_anaesthetist"  %}
{% input  field="OperationNote.asa"  %}
{% input  field="OperationNote.anaesthetic"  %}
{% input  field="OperationNote.urgency"  %}