<span ng-show="item.start_time">
    [[ item.start_time | shortTime ]]
   <br />
</span>
<span ng-show="item.end_time">
    [[ item.end_time | shortTime ]]
   <br />
</span>
<span ng-show="item.date">
    [[ item.date | shortDate ]]
   <br />
</span>
<span ng-show="item.dvt_heparin">
     Dvt Heparin
   <br />
</span>
<span ng-show="item.dvt_ted_stockings">
     Dvt Ted Stockings
   <br />
</span>
<span ng-show="item.dvt_pnematic">
     Dvt Pnematic
   <br />
</span>
<span ng-show="item.dvt_aspirin">
     Dvt Aspirin
   <br />
</span>
<span ng-show="item.antibiotics">
    [[ item.antibiotics ]]
   <br />
</span>
<span ng-show="item.indication">
    [[ item.indication ]]
   <br />
</span>
<span ng-show="item.position">
    [[ item.position ]]
   <br />
</span>
<span ng-show="item.incision">
    [[ item.incision ]]
   <br />
</span>
<span ng-show="item.findings">
    [[ item.findings ]]
   <br />
</span>
<span ng-show="item.procedure">
    [[ item.procedure ]]
   <br />
</span>
<span ng-show="item.cancer">
    [[ item.cancer ]]
   <br />
</span>
<span ng-show="item.lead_surgeon">
    [[ item.lead_surgeon ]]
   <br />
</span>
<span ng-show="item.lead_anaesthetist">
    [[ item.lead_anaesthetist ]]
   <br />
</span>
<span ng-show="item.asa">
    [[ item.asa ]]
   <br />
</span>
<span ng-show="item.anaesthetic">
    [[ item.anaesthetic ]]
   <br />
</span>
<span ng-show="item.urgency">
    [[ item.urgency ]]
   <br />
</span>
<span ng-show="item.surgeon">
    [[ item.surgeon ]]
   <br />
</span>
<span ng-show="item.assistant">
    [[ item.assistant ]]
   <br />
</span>
<span ng-show="item.anaesthetist">
    [[ item.anaesthetist ]]
   <br />
</span>
